docutils>=0.18
sphinx>=7.0
myst-parser>=4.0
sphinx_rtd_theme
numpy
tqdm
matplotlib
termcolor
yacs
tabulate
cloudpickle
Pillow
git+https://github.com/facebookresearch/fvcore.git
omegaconf>=2.1,<2.4
hydra-core>=1.1
scipy
timm
